createdAt: "2022-02-09T03:52:33.634Z"
updatedAt: "2022-02-09T03:55:16.226Z"
type: "MARKDOWN_NOTE"
folder: "e7b92cd9a9e618b33a6e"
title: "MongoDB - Ver en que base de datos nos encontramos."
tags: []
content: '''
  # MongoDB - Ver en que base de datos nos encontramos.
  ---
  Para ver en que base de datos nos encontramos usamos `db`:
  
  ```bash
  > db
  base1
  ```
  en este caso nos devuelve que estamso en `base1`.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
