createdAt: "2020-03-28T15:57:10.248Z"
updatedAt: "2020-03-28T17:07:43.059Z"
type: "MARKDOWN_NOTE"
folder: "78f114a051b5fbbdc96b"
title: "hola mundo"
tags: []
content: '''
  # hola mundo
  
  ```html
  <div>hola mundo</div>
  ```
  ```jsx
  class nombre(){
    return(
      <div>hola mundo</div>
    )
  }
  
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: true
