createdAt: "2020-01-10T17:23:01.934Z"
updatedAt: "2020-01-10T18:08:52.180Z"
type: "MARKDOWN_NOTE"
folder: "78f114a051b5fbbdc96b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
