createdAt: "2020-03-30T12:22:07.066Z"
updatedAt: "2020-03-30T12:31:11.187Z"
type: "MARKDOWN_NOTE"
folder: "16e8c7eaf9f61d8cb104"
title: "TERMINAL: Historial de comandos en terminal"
tags: [
  "Consola"
  "Comando"
  "Historial"
  "Terminal"
]
content: '''
  # TERMINAL: Historial de comandos en terminal
  ---
  Para ver el historial de comandos usamos el comando:
  
  ```bash
   $ history
  ```
  para repetir un comando utilizado usamos el comando:
  
  ```bash
  $ !2
  ```
  el signo de exlamacion mas el numero que correponde al id del historial, ejecuta el comando.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
