createdAt: "2021-11-24T22:34:29.246Z"
updatedAt: "2022-01-20T04:14:56.319Z"
type: "MARKDOWN_NOTE"
folder: "782db1f2a144b68d1420"
title: "Docker - Descargar una imagen de un repositorio"
tags: [
  "Docker"
]
content: '''
  # Docker - Descargar una imagen de un repositorio
  ---
  
  Para descargar una imagen desde el repositorio de **docker hub** disponemos del comando `` pull ``, este nos permite descargar imagenes sin la necesidad de ejecutar un contenedor:
  
  ```bash
  $ docker pull <nombreImagen>
  ```
  Este comando descarga por defecto la vercion **latest** de la imagen, para descargar otra vercion devemos espesificarla con su respectivo **tag**:
  
  ```bash
  $ docker pull <nombreImagen>:<tag>
  ```
  
  Luego para ver si la imagen se descargo correctamente, podemos utilizar el comando:
  
  ```bash
  $ docker images
  ```
  
  Si la imagen se descargo de forma existosa deveriamos verla en la lista de imagenes.
'''
linesHighlighted: [
  2
]
isStarred: false
isTrashed: false
