createdAt: "2020-01-13T16:22:26.204Z"
updatedAt: "2020-03-28T20:33:59.785Z"
type: "MARKDOWN_NOTE"
folder: "16e8c7eaf9f61d8cb104"
title: "TERMINAL: Funcionamiento llaves públicas y privadas"
tags: [
  "Llave_Privada"
  "Llave_Publica"
  "Sifrado"
  "Terminal"
]
content: '''
  # TERMINAL: Funcionamiento llaves públicas y privadas
  ---
  
  Las llaves públicas y privadas nos ayudan a cifrar y descifrar nuestros archivos de forma que los podamos compartir archivos sin correr el riesgo de que sean interceptados por personas con malas intenciones.
  
  La forma de hacerlo es la siguiente:
  
  <ol>
  <li>Ambas personas deben crear su llave pública y privada.</li>
  <li>Ambas personas pueden compartir su llave pública a las otras partes (recuerda que esta llave es pública, no hay problema si la “interceptan”).</li>
  <li>La persona que quiere compartir un mensaje puede usar la llave pública de la otra persona para cifrar los archivos y asegurarse que solo puedan ser descifrados con la llave privada de la persona con la que queremos compartir el mensaje.</li>
  <li>El mensaje está cifrado y puede ser enviado a la otra persona sin problemas en caso de que los archivos sean interceptados.</li>
  <li>La persona a la que enviamos el mensaje cifrado puede usar su llave privada para descifrar el mensaje y ver los archivos.</li>
  </ol>
  <blockquote>
  <p>Puedes compartir tu llave pública pero nunca tu llave privada.</p>
  </blockquote>
  <p>En la siguiente clase vamos a crear nuestras llaves para compartir archivos con GitHub sin correr el riesgo de que sean interceptados.</p>
'''
linesHighlighted: [
  3
]
isStarred: false
isTrashed: false
