createdAt: "2020-03-28T17:20:10.837Z"
updatedAt: "2020-03-28T17:20:44.642Z"
type: "MARKDOWN_NOTE"
folder: "9ebba7a6df45111b7f32"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
