createdAt: "2021-11-25T14:16:33.038Z"
updatedAt: "2022-01-20T04:12:17.879Z"
type: "MARKDOWN_NOTE"
folder: "782db1f2a144b68d1420"
title: "Docker - Ejecutar un comando en el contenedor al momento de crearlo."
tags: [
  "Docker"
]
content: '''
  # Docker - Ejecutar un comando en el contenedor al momento de crearlo.
  ---
  Podemos ejecutar un comando al momento de crear un contenedor:
  
  ```bash
  $ Docker run <NombreImagen> <Comando>
  ```
  
  Como vemos, al final de las instrucciones de creacion del contenedor, podemos ingresar un comando que se ejecutara inmediatamente despues de creado el mismo.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
