createdAt: "2020-01-10T04:09:54.742Z"
updatedAt: "2020-01-10T04:10:44.639Z"
type: "MARKDOWN_NOTE"
folder: "8fe2efc129ea3f88bbe8"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
