createdAt: "2020-01-10T17:22:48.931Z"
updatedAt: "2020-01-10T17:23:00.214Z"
type: "SNIPPET_NOTE"
folder: "78f114a051b5fbbdc96b"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
