createdAt: "2020-03-13T15:31:24.077Z"
updatedAt: "2020-05-07T14:12:04.273Z"
type: "SNIPPET_NOTE"
folder: "9ebba7a6df45111b7f32"
title: "Alta de usuarios con Google Oauth2 y Firebase"
tags: [
  "Firebase"
  "oauth"
  "Usuario"
  "Alta"
]
description: "Alta de usuarios con Google Oauth2 y Firebase"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "JavaScript"
    content: '''
      //creamos una referencia al provedor de Oauth2 de Google
      const provider= new firebase.auth.GoogleAuthProvider()
      //luego solicitamos el registro del usuario mediante popup, pasandole el provedor de Oauth
      firebase.auth().signInWithPopup(provider)
      .then(Result=>{
        //al devolver la promesa se confirma el registro, ahora podemos ejecutar las funciones nesesarias luego del registro. Como camviar el avatar o imprimir su nombre, etc. (Result.user) contiene toda la informacion del usuario.
      })
      .catch(error=>{
        //En caso de error mostramos el error
        console.error(error)
      })
    '''
  }
]
isStarred: false
isTrashed: false
