createdAt: "2019-12-06T18:19:55.680Z"
updatedAt: "2019-12-06T18:20:14.169Z"
type: "SNIPPET_NOTE"
folder: "78f114a051b5fbbdc96b"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: true
