createdAt: "2020-01-10T04:11:49.047Z"
updatedAt: "2020-01-10T04:13:16.482Z"
type: "MARKDOWN_NOTE"
folder: "78f114a051b5fbbdc96b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
