createdAt: "2020-01-11T03:30:48.671Z"
updatedAt: "2020-01-11T03:42:06.884Z"
type: "SNIPPET_NOTE"
folder: "02e5bd83bdc6f460f151"
title: "GIT: Ciclo de vida o estados de los archivos en Git"
tags: [
  "Archivos"
  "Ciclo"
  "Estados"
  "Git"
]
description: "GIT: Ciclo de vida o estados de los archivos en Git"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: null
    content: '''
      //Cuando trabajamos con Git, nuestros archivos pueden vivir y moverse entre 4 diferentes estados (cuando trabajamos con repositorios remotos pueden ser más estados pero lo estudiaremos más adelante):
      
      
    '''
  }
]
isStarred: false
isTrashed: true
