createdAt: "2021-11-26T16:43:14.903Z"
updatedAt: "2021-11-26T16:47:19.639Z"
type: "MARKDOWN_NOTE"
folder: "782db1f2a144b68d1420"
title: "Inspeccionar las configuraciones de un contenedor de docker."
tags: []
content: '''
  # Inspeccionar las configuraciones de un contenedor de docker.
  ---
  Algunas veses nesesitaremos ver la configuracion de nuestro **contenedor Docker** para esto contamos con el comando `inspect`:
  ```bash
  $ docker inspect <idContenedor>
  ```
  Esto devolvera tadas las configuraciones de nuestro contenedor.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
