createdAt: "2021-09-11T23:45:41.939Z"
updatedAt: "2021-09-11T23:49:06.176Z"
type: "MARKDOWN_NOTE"
folder: "782db1f2a144b68d1420"
title: "Detener un contenedor de docker"
tags: [
  "Docker"
]
content: '''
  # Detener un contenedor de docker
  ---
  Para detener un contenedor de docker contamos con el comando **stop**:
  
  ```bash
  $ docke stop <id-contenedor>
  ```
  Como podemos ver, a continuacion del comando **stop** seguiria el nombre o el **id** del contenedor.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
