createdAt: "2022-03-25T12:32:06.714Z"
updatedAt: "2022-03-25T12:32:24.378Z"
type: "MARKDOWN_NOTE"
folder: "3d2ab14d2c66eab8d36b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
