createdAt: "2021-11-29T21:14:14.296Z"
updatedAt: "2021-12-27T16:11:47.175Z"
type: "MARKDOWN_NOTE"
folder: "782db1f2a144b68d1420"
title: "Docker - Solucion a errores Docker"
tags: [
  "Docker"
]
content: '''
  # Docker - Solucion a errores Docker
  ---
  
  solucion al error:
  
  >Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?
  
  este error se deve a que el demonio de docker no se inicia junto con el sistema, para solucionarlo tenemos dos opciones. Podemos ensender el proseso de docker: 
  
  ```bash
  $ sudo systemctl start docker
  ```
  
  ```bash
  $ sudo service --status-all
  ```
  ```bash
  $ sudo service docker start
  ```
  O tembien podemos agregar el proseso del demonio de docker al inicio del sistema:
  
  ```bash
  $ sudo systemctl disable docker.service
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
