createdAt: "2020-01-11T03:47:14.741Z"
updatedAt: "2020-01-11T03:47:23.820Z"
type: "SNIPPET_NOTE"
folder: "78f114a051b5fbbdc96b"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
