createdAt: "2020-04-10T18:15:01.261Z"
updatedAt: "2020-04-10T18:29:38.445Z"
type: "MARKDOWN_NOTE"
folder: "ce3e5ebc562f91b2b933"
title: "Detectar que elemento disparo el evento"
tags: [
  "JavaScript"
  "Evento"
  "Event"
  "capturar"
  "Elemento"
]
content: '''
  #Detectar que elemento disparo el evento
  
  ```js
  document.querySelectorAll('a').addEventListener('click',
    (e)=>{
      let elemento=e.target
    }
  )
    
  ```
  **target** devuelve el elemento sobre el que se realizo el clik, es importante aclarar que si realizamos un click sobre un hijo del elemento que tiene el evento click asociado, devolvera la referencia al hijo y no al elemento que tiene aplicado el evento.
  
  ```js
  document.querySelectorAll('a').addEventListener('click',
    (e)=>{
      let elemento=e.currentTarget
    }
  )
  ```
  **currentTarget** devuelve el elemento que tiene el evento y no su hijo.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
