createdAt: "2021-11-24T16:10:07.288Z"
updatedAt: "2022-01-20T04:12:40.274Z"
type: "MARKDOWN_NOTE"
folder: "782db1f2a144b68d1420"
title: "Docker - Entrar en un contenedor"
tags: [
  "Docker"
]
content: '''
  # Docker - Entrar en un contenedor
  ---
  
  Para ingresar en un contenedor que se esta ejecutando utilizamos el comando ``exec``:
  
  ```bash
  $ docker exec --interactive --tty <idContenedor> /bin/sh
  ```
  esto genera que entremos en una instancia shell remota del contenedor.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
