createdAt: "2020-01-11T03:34:15.779Z"
updatedAt: "2020-01-11T04:00:58.503Z"
type: "MARKDOWN_NOTE"
folder: "02e5bd83bdc6f460f151"
title: "GIT: ¿Qué es staging, repositorios y cuál es el ciclo básico de trabajo en GitHub?"
tags: [
  "Estados"
  "Git"
  "Siclo_de_Vida"
  "Status"
]
content: '''
  
  
  <h1>GIT: ¿Qué es staging, repositorios y cuál es el ciclo básico de trabajo en GitHub?</h1>
  <img src="https://static.platzi.com/media/public/uploads/capture1_44e940e0-77b2-4f04-b76d-d7637b4ca7a7.PNG">
  <div class="Description-agenda"><p>Para iniciar un repositorio, o sea, activar el sistema de control de versiones de Git en tu proyecto, solo debes ejecutar el comando <code>git init</code>.</p>
  <p>Este comando se encargará de dos cosas: primero, crear una carpeta <code>.git</code> donde se guardará toda la base de datos con cambios atómicos de nuestro proyecto; y segundo, crear un área en la memoria RAM, que conocemos como Staging, que guardará temporalmente nuestros archivos (cuando ejecutemos un comando especial para eso) y nos permitirá, más adelante, guardar estos cambios en el repositorio (también con un comando especial).</p>
  <p><strong>Ciclo de vida o estados de los archivos en Git</strong>:</p>
  <p>Cuando trabajamos con Git, nuestros archivos pueden vivir y moverse entre 4 diferentes estados (cuando trabajamos con repositorios remotos pueden ser más estados pero lo estudiaremos más adelante):</p>
  <ul>
  <li><strong>Archivos Tracked</strong>: Son los archivos que viven dentro de Git, no tienen cambios pendientes y sus últimas actualizaciones han sido guardadas en el repositorio gracias a los comandos <code>git add</code> y <code>git commit</code>.</li>
  <li><strong>Archivos Staged</strong>: Son archivos en Staging. Viven dentro de Git y hay registro de ellos porque han sido afectados por el comando <code>git add</code>, aunque no sus últimos cambios. Git ya sabe de la existencia de estos últimos cambios pero todavía no han sido guardados definitivamente en el repositorio porque falta ejecutar el comando <code>git commit</code>.</li>
  <li><strong>Archivos Unstaged</strong>: Entiendelos como archivos <em>“Tracked pero Unstaged”</em>. Son archivos que viven dentro de Git pero no han sido afectados por el comando <code>git add</code> ni mucho menos por <code>git commit</code>. Git tiene un registro de estos archivos pero está desactualizado, sus últimas versiones solo están guardadas en el disco duro.</li>
  <li><strong>Archivos Untracked</strong>: Son archivos que NO viven dentro de Git, solo en el disco duro. Nunca han sido afectados por <code>git add</code>, así que Git no tiene registros de su existencia.</li>
  </ul>
  <p>Recuerda que hay un caso muy raro donde los archivos tienen dos estados al mismo tiempo: Staged y Untracked. Esto pasa guardas los cambios de un archivo en el área de Staging (con el comando <code>git add</code>) pero, antes de hacer commit para guardar los cambios en el repositorio, haces nuevos cambios que todavía no han sido guardados en el área de Staging (en realidad, todo sigue funcionando igual pero es un poco divertido).</p>
  <p><strong>Comandos para mover archivos entre los estados de Git</strong>:</p>
  <ul>
  <li><strong><code>git status</code></strong>: Nos permite ver el estado de todos nuestros archivos y carpetas.</li>
  <li><strong><code>git add</code></strong>: Nos ayuda a mover archivos del Untracked o Unstaged al estado Staged. Podemos usar <code>git add nombre-del-archivo-o-carpeta</code> para añadir archivos y carpetas individuales o <code>git add -A</code> para mover todos los archivos de nuestro proyecto (tanto Untrackeds como unstageds).</li>
  <li><strong>git reset HEAD</strong>: Nos ayuda a sacar archivos del estado Staged para devolverlos a su estado anterior. Si los archivos venían de Unstaged, vuelven allí. Y lo mismo se venían de Untracked.</li>
  <li><strong>git commit</strong>: Nos ayuda a mover archivos de Staged a Tracked. Esta es una ocasión especial, los archivos han sido guardado o actualizados en el repositorio. Git nos pedirá que dejemos un mensaje para recordar los cambios que hicimos y podemos usar el argumento <code>-m</code> para escribirlo (<code>git commit -m "mensaje"</code>).</li>
  <li><strong>git rm</strong>: Este comando necesita alguno de los siguientes argumentos para poder ejecutarse correctamente:<br>
  - <code>git rm --cached</code>: Mueve los archivos que le indiquemos al estado Untracked.<br>
  - <code>git rm --force</code>: Elimina los archivos de Git y del disco duro. Git guarda el registro de la existencia de los archivos, por lo que podremos recuperarlos si es necesario (pero debemos usar comandos más avanzados).</li>
  </ul></div>
'''
linesHighlighted: []
isStarred: false
isTrashed: false
