createdAt: "2020-03-28T15:57:02.598Z"
updatedAt: "2020-03-28T15:57:07.594Z"
type: "SNIPPET_NOTE"
folder: "78f114a051b5fbbdc96b"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
