createdAt: "2020-05-07T21:04:07.142Z"
updatedAt: "2020-05-07T21:04:14.638Z"
type: "MARKDOWN_NOTE"
folder: "78f114a051b5fbbdc96b"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
