createdAt: "2022-02-09T04:38:10.703Z"
updatedAt: "2022-02-09T05:38:26.384Z"
type: "MARKDOWN_NOTE"
folder: "e7b92cd9a9e618b33a6e"
title: "MongoDB - Borrar el contenido de la consola de Mongo (Sell)."
tags: []
content: '''
  # MongoDB - Borrar el contenido de la consola de Mongo (Sell).
  ---
  ```bash
  > cls
   ```
   o atajo `CTRL+L`.
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
