createdAt: "2020-01-13T17:18:32.410Z"
updatedAt: "2020-03-29T15:39:03.304Z"
type: "SNIPPET_NOTE"
folder: "16e8c7eaf9f61d8cb104"
title: "TERMINAL: Verificar que el servidor ssh este activo"
tags: [
  "Estado"
  "Servidor"
  "Ssh"
  "Verificar"
]
description: "TERMINAL: Verificar que el servidor ssh este activo"
snippets: [
  {
    linesHighlighted: []
    name: "Terminal"
    mode: "Shell"
    content: '''
      $eval $(ssh-agent -s)
      
      //si el servidor esta activo respondera algo como
      
      Agen pid 23154
    '''
  }
]
isStarred: false
isTrashed: true
