createdAt: "2022-02-09T05:30:17.804Z"
updatedAt: "2022-02-09T05:42:08.386Z"
type: "MARKDOWN_NOTE"
folder: "e7b92cd9a9e618b33a6e"
title: "MongoDB - Listar las colecciones de una base de datos"
tags: []
content: '''
  # MongoDB - Listar las colecciones de una base de datos
  ---
  Para listar las colecciones en una base de datos tenemos el comando `show collections`:
  
  ```bash
  > show collections
  ```
  el resultado sera algo como esto:
  ![6d07c6fb.png](:storage/ebd103aa-e27d-4083-90a5-ee4b1824b6b3/6d07c6fb.png)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
