createdAt: "2020-01-10T16:45:53.636Z"
updatedAt: "2020-03-30T12:21:37.681Z"
type: "SNIPPET_NOTE"
folder: "16e8c7eaf9f61d8cb104"
title: "TERMINAL: Borrar archivos"
tags: [
  "Archivo"
  "Borrar"
  "Consola"
  "Romover"
  "Terminal"
]
description: "TERMINAL: Borrar archivos"
snippets: [
  {
    linesHighlighted: []
    name: "Terminal"
    mode: "Shell"
    content: "$ rm NombreArchivo.txt"
  }
]
isStarred: false
isTrashed: true
